@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}






.announcements {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.announcements .inner-announcements {
    width: 80%;
    height: auto;
    margin-top: 80px;
}

.announcements .inner-announcements h4 {
    color: #12a0af;
}

.announcements .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.announcements .inputs input {
    width: 90%;
    margin: 5px;
    background-color: #12a0af;
    padding: 10px;
    color: white;
    border: none;
    margin-left: -10%;
}

.announcements .left-image {
    position: relative;
    margin-left: 14%;
    top: -63%;
    width: 450px;
    height: 451px;
    background-image: url(lef.webp);
    background-size: cover;
    background-position: center center;
    display: none;
}

.announcements .right-image {
    position: absolute;
    right: -8%;
        top: -8%;
        margin-right: 15%;
    width: 537px;
    height: 449px;
    background-image: url(right.webp);
    background-size: cover;
    background-position: center center;
    display: none;
}


.award-segment {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sponsors {
    margin-top: 50px;
    width: 100%;
    background-color: #12a0af;
    height: auto;
    padding: 50px 0;
}

.sponsors .inner-sponsors {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sponsors .inner-sponsors h4,
.sponsors .inner-sponsors p {
    color: white;
}

.sponsors .inner-sponsors .sponsor-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsors .inner-sponsors .sponsor-sections .section {
    width: 14.28% !important;
    height: 80px;
    background-color: white;
    border-right: 1px solid grey;
    position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px;
    color: #12a0af;
}


.register {
    background-image: url("https://picsum.photos/2000/3000");
    background-size: cover;
    background-position: center center;
    height: 550px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.register-content {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    height: auto;
    /* width: 100%; */
    text-align: left;
}

.register-content h4 {
    margin-top: 80px;
    margin-bottom: 40px;
}

.register-content p {
    font-size: 1rem;
}

.register-content p.checklist {
    font-weight: 800;
    position: relative;
}

.checklist-tooltip-box {
    position: absolute;
    top: 88%;
    left: 53%;
    transform: translateX(-50%);
    width: 320px;
    height: auto;
    background-color: #94b226;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: 20px 20px;
    z-index: 9999;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.register .register-content .checklist-reg-btn {
    position: absolute;
    /* left: 3%; */
    /* transform: translateX(-50%); */
    padding: 5px 15px !important;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.register .register-content .checklist-reg-btn:hover {
    background-color: #1c1b48;
    color: #94b226;
    border: 2px solid #ffffff;
}

.contact {
    margin-top: 70px;
    position: relative;
    margin-left: 10%;
}

.contact h4 {
    color: #12a0af;
    margin-bottom: 20px;
}

.contact .select-box {
    width: 330px;
    margin-bottom: 20px;
    padding: 6px;
}

.contact .custom-table {
    width: 95%;
}

.contact .custom-table-row h5 {
    font-weight: 700;
}

.contact .custom-table-row p {
    font-size: 16px;
}

.reg-form {
    margin-top: 100px;
    width: 63%;
    background: #f7f6fb;
    padding: 40px 45px;
}

.reg-form input::placeholder {
    font-size: 14px;
    color: #aaaaaa
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    margin-top: 25px;
}

.footer {
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: 100px;
    position: relative;
    color: white;
    font-size: 13px;
    padding: 15px 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

.footer .para-1,
.footer .para-2 {
    margin: auto 0;
}
.responsivecirc{
    width: 10%;
    height: auto;
}


@media (max-width: 500px) {

    .intro .left-intro .intro-1 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .intro .left-intro span {
        width: 80%;
        margin: 50px 20px;
    }

    .intro .left-intro .intro-2 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .intro .right-intro .side-text h1 {
        margin-top: 32px;
        padding-right: 48px;
    }

    .side-text {
        margin-top: 50px;
    }

    /* ------------------------------------ */

   

    
    .register {
        height: 400px;
    }

    .register-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
    }

    .register-content h4 {
        margin-top: 40px;
    }

    .register .register-content .checklist-reg-btn {
        left: 50%;
        transform: translateX(-50%);
    }

}

@media (min-width: 500px) and (max-width: 820px) {

    .register {
        height: 400px;
    }

    .register-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center !important;
    }

    .register-content h4 {
        margin-top: 40px;
    }

    .register .register-content .checklist-reg-btn {
        left: 50%;
        transform: translateX(-50%);
    }

}

@media (max-width: 768px) {
    .reg-form {
        margin-top: 50px;
        width: 80%;
        padding: 60px 20px;
    }

}

@media(min-width: 900px) {
    .announcements .left-image {
        display: block;
        left: -30%;
    }

    .announcements .right-image {
        display: block;
        right: -16%;
    }

    .announcements .inner-announcements {
        width: 58%;
        margin-top: -15px;
        margin-left: -401px;
    }
}




@media (min-width: 1200px) {
    legend {
        font-size: 22px;
    }
}

/*******table jo banner kae neeche hai*************/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
.left{
    color: grey;
    font-weight: 300;
    margin-left: 15%;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right{
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 700;
    font-weight: 900;
}
  
  tr:nth-child(even){background-color: #f2f2f2}

